In [28]:
from json import loads
from pandas import DataFrame


FILE_NAME = 'league39_season2020.json'

with open(FILE_NAME) as f:
    l = f.readlines()
    as_str = ''.join(l)
    as_dict = loads(as_str)

response = as_dict['response']

In [29]:
def round_num(round_str: str):
    s = round_str.lstrip("Regular Season - ")
    return int(s)

In [30]:
all_games = []
for game in response:
    host = game["teams"]["home"]['name']
    hosted = game["teams"]["away"]['name']
    goals_host = game["goals"]["home"]
    goals_hosted = game["goals"]["away"]

    round_str = game["league"]["round"]
    round_n = round_num(round_str=round_str)

    all_games.append(
        [host, hosted, goals_host, goals_hosted, round_n])

all_games;

In [31]:
df = DataFrame(all_games, columns=['host', 'hosted', 'goals_host', 'goals_hosted', 'round'])
df

                host             hosted  goals_host  goals_hosted  round
0            Burnley  Manchester United           0             1      1
1     Crystal Palace        Southampton           1             0      1
2             Fulham            Arsenal           0             3      1
3          Liverpool              Leeds           4             3      1
4    Manchester City        Aston Villa           2             0      1
..               ...                ...         ...           ...    ...
375        Liverpool     Crystal Palace           2             0     38
376  Manchester City            Everton           5             0     38
377    Sheffield Utd            Burnley           1             0     38
378         West Ham        Southampton           3             0     38
379           Wolves  Manchester United           1             2     38

[380 rows x 5 columns]

In [32]:
host_df = df.groupby('host').agg('sum').reset_index()
host_df.drop(labels=['round'], axis=1)

                 host  goals_host  goals_hosted
0             Arsenal          24            21
1         Aston Villa          29            27
2            Brighton          22            22
3             Burnley          14            27
4             Chelsea          31            18
5      Crystal Palace          20            32
6             Everton          24            28
7              Fulham           9            28
8               Leeds          28            21
9           Leicester          34            30
10          Liverpool          29            20
11    Manchester City          43            17
12  Manchester United          38            28
13          Newcastle          26            33
14      Sheffield Utd          12            27
15        Southampton          28            25
16          Tottenham          35            20
17          West Brom          15            39
18           West Ham          32            22
19             Wolves          21            25

In [33]:
hosted_df = df.groupby('hosted').agg('sum').reset_index()
hosted_df.drop(labels=['round'], axis=1)

               hosted  goals_host  goals_hosted
0             Arsenal          18            31
1         Aston Villa          19            26
2            Brighton          24            18
3             Burnley          28            19
4             Chelsea          18            27
5      Crystal Palace          34            21
6             Everton          20            23
7              Fulham          25            18
8               Leeds          33            34
9           Leicester          20            34
10          Liverpool          22            39
11    Manchester City          15            40
12  Manchester United          16            35
13          Newcastle          29            20
14      Sheffield Utd          36             8
15        Southampton          43            19
16          Tottenham          25            33
17          West Brom          37            20
18           West Ham          25            30
19             Wolves          27            15

In [34]:
results = DataFrame(data={"team": host_df.host,
                          "GF_tot": host_df.goals_host + hosted_df.goals_hosted,
                          "GA_tot": host_df.goals_hosted + hosted_df.goals_host,
                          "GF_as_host": host_df.goals_host,
                          "GA_as_host": host_df.goals_hosted,
                          "GF_as_hosted": hosted_df.goals_hosted,
                          "GA_as_hosted": hosted_df.goals_host,
                          })
results.sort_values(by=['team'], ascending=True)

,team,GF_tot,GA_tot,GF_as_host,GA_as_host,GF_as_hosted,GA_as_hosted
0,Arsenal,55,39,24,21,31,18
1,Aston Villa,55,46,29,27,26,19
2,Brighton,40,46,22,22,18,24
3,Burnley,33,55,14,27,19,28
4,Chelsea,58,36,31,18,27,18
5,Crystal Palace,41,66,20,32,21,34
6,Everton,47,48,24,28,23,20
7,Fulham,27,53,9,28,18,25
8,Leeds,62,54,28,21,34,33
9,Leicester,68,50,34,30,34,20
10,Liverpool,68,42,29,20,39,22
11,Manchester City,83,32,43,17,40,15
12,Manchester United,73,44,38,28,35,16
13,Newcastle,46,62,26,33,20,29
14,Sheffield Utd,20,63,12,27,8,36
15,Southampton,47,68,28,25,19,43
16,Tottenham,68,45,35,20,33,25
17,West Brom,35,76,15,39,20,37
18,West Ham,62,47,32,22,30,25
19,Wolves,36,52,21,25,15,27